.post {
    display: flex;
    width: 690px;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
}

.post-header {
    height: 74px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.avatar-in-post{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 0 7px #666;
    margin-left: 15px;
    margin-top: 12px;
}

.post-info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.post-creator {
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
}

.date {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 12px;
}

.post__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: #FFFFFF ;
}

.post__content::after {
    content: "";
    position: absolute;
    background-color: #D8DADF;
    bottom: -15px;
    height: 2px;
    width: 80%;
    left: 10%;
}

.post__content__text {
    display: block;
    margin: 15px;
}

.post__footer {
    border-radius: 10px;
}

.post__footer__row {
    position: relative;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
}

.post__footer__column {
    flex: 0 0 33.333%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.post__content__img {
    object-fit: cover;
}

.post-action {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 5px;
}

.post-action_like {
    margin-left: 15px;
}

.post-action_like:active {
    background-color: #3B70E6;
}

.post-action_repost {
    margin-right: 15px;
}

.post-action:hover {
    background-color: #F2F2F2;
}
