mixin header(data)
    include ../../components/header/header

+header(profileData.userData)

style
    include newsFeed.css

mixin post(data)
    div(class="wrap-post")
        include ../../components/post/post.pug


div(class="news-feed")
    each postData in postsData
        +post(postData)
