.news-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/f-14.jpg);
    background-attachment: fixed;
}

.wrap-post:first-child {
    margin-top: 100px;
}

.wrap-post {
    margin-top: 40px;
}