include ../../components/header/header.pug

style
    include newsFeed.css

mixin post(data)
    div(class="wrap-post")
        include ../../components/post/post.pug


div(class="news-feed")
    each postData in postsData
        +post(postData)
