mixin header(data)
    include ../../components/Header/Header

+header({userData, viewState})

mixin post(data)
    div(class="wrap-post")
        include ../../components/Post/Post

div(class="news-feed")
    each postData in postsData
        +post(postData)
