extends ../layout

block content

    mixin post(data)
        div(class="wrap-post")
            include ../../components/Post/Post

    div(class="news-feed")
        each postData in postsData
            +post(postData)
