div.modal-wrapper(class="modal-wrapper_img")
    div.post-counter #{currentIndex + 1}/#{images.length}
    div(class="btn btn__close post-img__btn-close btn-close__modal__show-post")
        i(class="far fa-times-circle fa-3x")
    div(id="" class="go go_left go-prev-img")
        i(class="fas fa-chevron-left fa-5x")
    div.modal-bg(class="modal-bg-close")
    img.post-img(src=images[currentIndex])
    div(class="go go_right go-next-img")
        i(class="fas fa-chevron-right fa-5x")