script
    console.log("ff")

div(class="profile-header-content")
    div(class="header-content")
        img(class="background-img" src="./assets/imgContent.jpg")
        div(class="upload-bg-wr")
            div(class="upload-bg")
                i(class="fas fa-camera fa-2x")
        div(class="ava-img")
            div.ava-wrapper
                img(class="ava" src="./assets/imgUser.jpg")
                div(class="upload-ava")
                    i(class="fas fa-camera fa-2x")
        div(class="profile-info")
            if !data.modEdited
                div(class="profile-info-content")
                    h1
                        | #{data.firstName}
                        | #{data.lastName}
                    div(class="btn-edit-profile" id="btn-edit-profile" onclick='profileEdit()')
                        b Edit
            else
                div
                    form(class="profile-editing")
                        label Firstname:
                            input(id="input-firstname" class="edit-input")
                        label Lastname:
                            input(id="input-lastname" class="edit-input")
                        b
                            input(type="submit" class="btn-edit-submit-profile" onclick='profileEditSubmit()')
