div(class="profile-header-content")
    div(class="header-content")
        img(class="background-img" src="./assets/imgContent.jpg")
        div(class="ava-img")
            img(class="ava" src="./assets/imgUser.jpg")
        div(class="profile-info")
            div(class="profile-info-content")
                h1
                    |Dmitry
                    |Akzhigitov
                div(class="btn-edit-profile")
                    a(href="#")
                        b Edit