div.friend-request-block
    img.friend-request-block__avatar(src=avatar)
    div.friend-request-block__content
        div.request-friend-info
            span.request-friend-info__user-name #{firstName} &nbsp;
            span.request-friend-info__user-surname #{lastName}
        div.friend-request-block__btns
            div.btn-add-friend
                b Access
            div.btn-remove-friend
                b Remove