div.friends-page
    component(name='Header')
    div.friends-page-content
        div.left-block
            div.left-block__background
            div.left-block__content
                component(name='SearchFriend')
                if searched
                    div.found-friend-block
                        each user in foundUsers
                            - jsonUser = JSON.stringify(user);
                            component(name='Friend' props=jsonUser searched=true)
                div.friends-request-content
                    span.friends-request-header Friend requests
                    hr.friends-page__line
                    each follower in followers
                        if !follower.isNotified
                            - const jsonFollower = JSON.stringify(follower);
                            component(name='FriendRequest')
                div.friends-content
                    span.friends-header Friends
                    hr.friends-page__line
                    each friend in friends
                        - const jsonFriend = JSON.stringify(friend);
                        component(name='Friend' props=friend)
        div.right-block
            img(src="./assets/friendDefault.png")
