div.modal-wrapper
    div.modal-bg()
    div.new-post-form
        div.new-post-form__header
            div.modal__title Create Post
            div.btn__close
                i(class="far fa-times-circle fa-3x")
        div.new-post-form__content
            textarea.new-post-form__content__text(placeholder="What's on your mind")
            div.new-post-form__content__images

            div.new-post-form__attach
                div.new-post-form__attach__text Add to Your Post
                div.new-post-form__attach__photo
                    i(class="fas fa-images fa-3x" style="color: #45BD62;")

        div.new-post-form__post-btn Post