.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}

.modal-bg {
    background-color: #666666;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}

.new-post-form {
    flex: 80%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 200px;
    background-color: #FFFFFF;
}