div.modal-wrapper
    div.modal-bg()
    div.new-post-form
        div.new-post-form__header
            div.modal__title Create Post
            div.btn__close
        div.new-post-form__content
            textarea.new-post-form__content__text(placeholder="What's on your mind")
            div.new-post-form__attach Add to Your Post
        div.new-post-form__post-btn Post