div(class='register-form')
    div(class='register-form__content')
        div(class='register-form__header')
            div(class='register-form__title') Регистрация
            div(class='register-form__div-close' onclick='router.goLogin()')
                img(src='assets/close.png' class='register-form__img-close')
        div(class='register-form__div-item')
            input(type='text' name='login' class='register-form__input' autocomplete='on' placeholder='Электронный адрес или номер телефона')
        div(class='register-form__div-item')
            input(type='password' name='password' class='register-form__input register-form__input_password' autocomplete='on' placeholder='Пароль')
        div(class='register-form__div-item')
            input(type='password' name='password_repeat' class='register-form__input register-form__input_password' autocomplete='on' placeholder='Повтор пароля')
        div(class='register-form__div-item')
            input(type='text' name='first-name' class='register-form__input' autocomplete='on' placeholder='Имя')
        div(class='register-form__div-item')
            input(type='text' name='last-name' class='register-form__input' autocomplete='on' placeholder='Фамилия')
        button(type='button' class='register-form__button-register' onclick='submitRegisterForm()') Зарегистроваться

