.new-album-page-content {
    display: flex;
    padding-top: 80px;
    min-height: 91vh;
    width: 100vw;
    background-color:#f0f2f5;
}

.new-album-page-content__left-block {
    display: flex;
    flex-basis: 360px;
    flex-direction: column;
    flex-shrink: 0;
    background-color:#fff;
}

.new-album-page-content__right-block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 410px;
    flex-shrink: 0;
    background-color:#f0f2f5;
}
