div.create-album-block__content
    span.create-album Create Album
    input.album-name-block(placeholder="Album Name" class="album-title" value=title)
    textarea.album-description-block(placeholder="Description (optional)" class="album-description") #{description}
    div.album-upload-photos-btn(class="add-photo-to-album")
        span.album-upload-photos-btn__text Upload Photos
hr.new-album-line
div.album-post-btn(class="create-new-album")
    span.album-post-btn__text Post
