-console.log(profileData.userData.imgAvatar)
div(class="profile-header-content")
    div(class="header-content")
        img(id="bg" class="background-img" src=data.imgBg)
        div(class="upload-bg-wr")
            if data.myPage
                div(class="upload-bg" onclick='profileHeader.uploadBg()')
                    i(class="fas fa-camera fa-2x")
        div(class="ava-img")
            div.ava-wrapper
                img(id="ava" class="ava" src=data.imgAvatar)
                if data.myPage
                    div(class="upload-ava" onclick='profileHeader.uploadAva()')
                        i(class="fas fa-camera fa-2x")
        div(class="profile-info")
            if !data.modEdited
                div(class="profile-info-content")
                    h1
                        | #{data.firstName}
                        | #{data.lastName}
                    if data.myPage
                        div(class="btn-edit-profile" id="btn-edit-Profile" onclick='profileHeader.profileEdit()')
                            b Edit
            else
                div
                    form(class="profile-editing")
                        label.profile-edit-lbl Login:
                            input(id="input-login" class="edit-input")
                        label.profile-edit-lbl Password:
                            input(id="input-password" class="edit-input")
                        label.profile-edit-lbl Firstname:
                            input(id="input-lastname" class="edit-input")
                        label.profile-edit-lbl Lastname:
                            input(id="input-lastname" class="edit-input")
                        input(type="submit" class="btn-edit-submit-profile" onclick='profileHeader.profileEditSubmit()')
