.profile-header-content{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #5EACF4 0.03%, #FFFFFF 78.12%);
}

.header-content {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 30px;
    margin-top: 50px;
}

.background-img {
    border-radius: 0 0 30px 30px;
    width: 1440px;
    height: 560px;
}

.ava-img {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ava-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ava {
    position: absolute;
    border: #FFFFFF 6px solid;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.upload-ava {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C2C2C;
    background-color: #E4E6EB;
    position: absolute;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    bottom: 20px;
    left: 80px;
    border: 3px solid white;
}

.upload-ava:hover{
    cursor: pointer;
    background-color: #D8DADF;
}

.upload-bg-wr {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.upload-bg {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: #E4E6EB;
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-bg:hover {
    cursor: pointer;
    background-color: #D8DADF;
}

.upload-background {
    height: 100px;
    width: 100px;
    background-color: #666666;
    z-index: 1;
}

.profile-info {
    display: flex;
    justify-content: center;
}

.profile-info-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    size: 40px;
    flex-basis: 90%;
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px  rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

.btn-edit-profile {
    size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #E4E6EB;
    padding: 8px;
    color: blue;
}

.btn-edit-profile:hover {
    cursor: pointer;
    background-color: #D8DADF;
}

.test {
    width: 300px;
    height: 500px;
    background-color: #5EACF4;
}

.profile-editing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.btn-edit-submit-profile {
    size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #E4E6EB;
    padding: 8px;
    color: blue;
    margin-top: 10px;
    font-size: large;
    font-stretch: condensed ;
    font-weight: bold;
}

.btn-edit-submit-profile:hover{
    cursor: pointer;
}

input[type="submit" i] {
    border: 3px #E4E6EB solid;
}

.btn-edit-submit-profile:hover {
    cursor: pointer;
    background-color: #D8DADF;
}

.edit-input {
    width: 200px;
    height: 30px;
    margin-top: 8px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.profile-edit-lbl {
    font-weight: bold;
    font-size: 20px;
}