div.add-post
    div.add-post__header
        div.add-post__header__ava__wrapper
            img.add-post__header__ava(src=data.imgAvatar)
        div.add-post__header__new-post(id="new-post-btn")
            | What's on your mind?
    div.add-post__bottom
        div.add-post_bottom__attach(id="attach-post-photo-btn")
            i(class="fas fa-images fa-2x" style="color: #45BD62;")
            .
             Photo's
        //div.add-post_bottom__attach
        //    i(class="fas fa-images fa-2x")
        //    | Photo/Video

