div.add-post-content
    div.add-text-content
        img.ava-add(src=data.imgAvatar)
        textarea.add-text(id="text-post" placeholder="What's new?")
        div.add-btn-wrapper
            div.btn-add-media(id="upload-post-content")
                b
                    | Add
            div.uploaded-post-img(id="uploaded-post-img")
    div.btn-post-wr
        div.btn-add-post(id="add-post")
            b Post
