div.add-post-content
    div.add-text-content
        img.ava-add(src=data.imgAvatar)
        textarea.add-text() What's new?
        div.btn-add-media
            b
                | Add
    div.btn-post-wr
        div.btn-add-post
            b Post