.profile-content{
    display: flex;
    justify-content: center;
}

.lenta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.left-content {
    margin-right: 80px;
    height: 670px;
    width: 500px;
    background-color: #D8DADF;
}

.post-profile-wrapper {
    margin-top: 30px;
}