include ../../components/header/header
include ../../components/profile-header/profile-header

mixin post(data)
    include ../../components/post/post

div(class="profile-content")
    div(class="left-content")

    div(class="right-content")
        div(class="lenta")
            +post(postData)