include ../../components/header/header
mixin profileHeader(data)
    include ../../components/profile-header/profile-header

-console.log(profileData.userData.modEdited)
+profileHeader(profileData.userData)

mixin post(data)
    include ../../components/post/post

div(class="profile-content")
    div(class="left-content-column")
        div(class="left-content-1")
        div(class="left-content-2")

    div(class="right-content")
        div(class="lenta")
            each postData in profileData.postsData
                div(class="post-profile-wrapper")
                    +post(postData)