.profile-content {
    display: flex;
    justify-content: center;
}

.lenta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.left-content-column {
    margin-right: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.left-content-1 {
    border-radius: 10px;
    height: 220px;
    width: 500px;
    background-color: #D8DADF;
}

.left-content-2 {
    margin-top: 30px;
    border-radius: 10px;
    height: 670px;
    width: 500px;
    background-color: #D8DADF;
}

.post-profile-wrapper {
    margin-top: 30px;
}

.no-post-content {
    font-size: 40px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 690px;
    border-radius: 38px;
    margin-top: 30px;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}