mixin header(data)
    include ../../components/Header/Header

+header(userData)

mixin profileHeader(data)
    include ../../components/ProfileHeader/ProfileHeader

+profileHeader(userData)

mixin post(data)
    include ../../components/Post/Post

mixin addPost(data)
    include ../../components/AddPost/AddPost

mixin modalConf(data)
    include ../../components/ConfigModal/ConfigModal

div(class="profile-content")
    div(class="left-content-column")
        div(class="left-content-1")
        div(class="left-content-2")

    div(class="right-content")
        div(class="lenta")
            if userData.myPage
                +addPost(userData)
            if (postsData.length !== 0)
                each postData in postsData
                    div(class="post-profile-wrapper")
                        +post(postData)
            else
                div(class="no-post-content")
                    b No posts yet... #{test}

if userData.changePassword || userData.changeLogin
    +modalConf(userData)
