.friend-block {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 15px;
    height: 70px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    position: relative;
}

.friend-block:hover {
    background-color: #f2f2f2;
}

.friend--block__content {
    padding-top: 5px;
    padding-right: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.friend-block__avatar {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 0 7px #666;
    float: left;
}

.friend-block__avatar:hover {
    cursor: pointer;
}

.action-friend-btn {
    margin-left: auto;
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.action-friend-btn:hover {
    cursor: pointer;
}

.friend-info {
    display: flex;
    /*height: px;*/
    width: 100%;
    height: 100%;
    padding-right: 65px;
    justify-content: center;
    align-items: center;
}

.friend-info__user-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.friend-info__user-surname {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
}
