div.friend-block
    img.friend-block__avatar(src=data.avatar)
    div.friend-block__content
        div.friend-info
            span.friend-info__user-name #{data.firstName} &nbsp;
            span.friend-info__user-surname #{data.lastName}
