div.friend-request-block
    img.friend-request-block__avatar(src=data.avatar)
    div.friend-request-block__content
        div.request-friend-info
            span.request-friend-info__user-name #{data.firstName} &nbsp;
            span.request-friend-info__user-surname #{data.lastName}
        div.friend-request-block__btns
            div.btn-add-friend(id=`add-friend-` + data.id)
                b Access
            div.btn-remove-friend(id=`remove-friend-` + data.id)
                b Remove
