mixin header(data)
    include ../../components/Header/Header

+header({userData, viewState})

mixin album-photo(data)
    include ../../components/AlbumPhotos/AlbumsPhotos

div.album-page-wrap
    div.album-page-content
        each img in album.imgContent
            +album-photo(img)
