//style
//    include header.css
div(class="header")
    div(class="section-h-1")
        div(class="logo-container")
            img(class="logo" src="./assets/imgLogo.jpg")
        div(class="search")
            i(class="fas fa-search" style="color:#6B717A")
    div(class="section-h-2")
        div(class="menu")
            div(class="menu-item home" onclick="router.goProfile()")
                i(class="fas fa-home fa-2x")
            div(class="menu-item friends" onclick="router.goFriends()")
                i(class="fas fa-users fa-2x")
            div(class="menu-item news" onclick="router.goNews()")
                i(class="fas fa-newspaper fa-2x")
    div(class="section-h-3")
            div(class="widget plus")
                i(class="far fa-plus-square fa-2x")
            div(class="widget notify")
                i(class="far fa-bell fa-2x")
            div(class="widget account")
                -console.log(data)
                img(class="img-profile" src = window.http.getHost() + '/static/usersAvatar/' + data.imgAvatar)
            div(class="widget logout" onclick='window.logout()')
                i(class="fas fa-sign-in-alt fa-2x")
