div(class="header")
    div(class="section-h-1")
        div(class="logo-container")
            img(class="logo" src="./assets/imgLogo.jpg")
    div(class="section-h-2")
        div(class="menu")
            div(class="menu-item home profile-block")
                i(class="fas fa-home fa-2x")
            div(class="menu-item friends friends-block")
                i(class="fas fa-users fa-2x")
            div(class="menu-item news news-block")
                i(class="fas fa-newspaper fa-2x")
    div(class="section-h-3")
        div(class="widget settings header__edit-creds")
            i(class="fas fa-cog fa-2x")
            if editMode
                div.popup-wrapper
                    div.popup-settings
                        div.popup-field(class="header__change-password") Change password
                        div.popup-field(class="header__change-login") Change login
        div(class="widget account")
            img(class="img-profile" src=user.imgAvatar)
        div(class="widget logout logout-block")
            i(class="fas fa-sign-in-alt fa-2x")