div(class="header")
    div(class="section-h-1")
        div(class="logo-container")
            img(class="logo" src="./assets/imgLogo.jpg")
    div(class="section-h-2")
        div(class="menu")
            a(href="@/profile")
                div(id="profile-block" class="menu-item home")
                    i(class="fas fa-home fa-2x")
            a(href="@/friends")
                div(id="friends-block" class="menu-item friends")
                    i(class="fas fa-users fa-2x")
            a(href="@/news")
                div(id="news-block" class="menu-item news")
                    i(class="fas fa-newspaper fa-2x")
    div(class="section-h-3")
        div(id="header__edit-creds" class="widget settings")
            i(class="fas fa-cog fa-2x")
            if data.viewState.editCreds
                div.popup-wrapper
                    div.popup-settings
                        div.popup-field(id="header__change-password") Change password
                        div.popup-field(id="header__change-login") Change login
        if data.viewState.myPage
            div(class="widget account")
                img(class="img-profile" src =data.userData.imgAvatar)
        div(id="logout-block" class="widget logout")
            i(class="fas fa-sign-in-alt fa-2x")
