- var srcAvatar
if data.myPage
    -srcAvatar = data.imgAvatar
else
    -srcAvatar = window.userAvatar
div(class="header")
    div(class="section-h-1")
        div(class="logo-container")
            img(class="logo" src="./assets/imgLogo.jpg")
        //div(class="search")
        //    i(class="fas fa-search" style="color:#6B717A")
    div(class="section-h-2")
        div(class="menu")
            div(id="profile-block" class="menu-item home")
                i(class="fas fa-home fa-2x")
            div(id="friends-block" class="menu-item friends")
                i(class="fas fa-users fa-2x")
            div(id="news-block" class="menu-item news")
                i(class="fas fa-newspaper fa-2x")
    div(class="section-h-3")
        div(class="widget settings" onclick="editCreds()")
            i(class="fas fa-cog fa-2x")
            if data.editCreds
                div.popup-wrapper
                    div.popup-settings
                        div.popup-field(onclick="changePassword()") Change password
                        div.popup-field(onclick="changeLogin()") Change login
        div(class="widget account")
            img(class="img-profile" src =srcAvatar)
        div(id="logout-block" class="widget logout")
            i(class="fas fa-sign-in-alt fa-2x")
